<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>上午卷轴</string>
		<key>img</key>
		<string>http://ihdwallpapers.com/download/the_elder_scrolls_online_2013-1920x1080.jpg</string>
		<key>video</key>
		<string>theelderscrolls</string>
	</dict>
	<dict>
		<key>title</key>
		<string>醉鹅红酒日常</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160903_98b456a0723fa616284a632d9d31821b.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160903_98b456a0723fa616284a632d9d31821b2000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>琥珀人生</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160906_3caf86e9c76a5da7c403cccd98a24a6b.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160906_3caf86e9c76a5da7c403cccd98a24a6b2000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>花臂暖男训练师和狗狗们の日常</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160906_e109dd75c1c1d87bf3662439ef4c2bc4.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160906_e109dd75c1c1d87bf3662439ef4c2bc4.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>营养师一下</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160905_f70d07ee46052547ab0bd4b0d880d462.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160905_f70d07ee46052547ab0bd4b0d880d4622000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨晗的口琴教室</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160905_cff4c01d484602f40d0ee4e8c4e9bddc.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160905_cff4c01d484602f40d0ee4e8c4e9bddc2000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>明君说壶</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160904_007de96adfa8b36dc2c8dd268d039129.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160904_007de96adfa8b36dc2c8dd268d0391292000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>喃猫料理日常</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160904_93122a9e4abcba124d5a7d4beaba3f89.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160904_93122a9e4abcba124d5a7d4beaba3f892000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>醉鹅品审团</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160901_b24909b77227d3149fc105e64fb95948.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160901_7826f0e045fecf94330e59971d7015a02000k.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>穿对衣超时尚</string>
		<key>img</key>
		<string>http://alimedia.lilslb.com/20160830_6b36ab9962d2b90df128cb36f022a556.jpg</string>
		<key>video</key>
		<string>http://alicdn.lilslb.com/20160830_6b36ab9962d2b90df128cb36f022a5562000k.m3u8</string>
	</dict>
</array>
</plist>
